REACT_APP_API_BEARER_AUTH = PUTYOURTHEMOVIEDATABASEAPIKEYHERE
REACT_APP_DEMO_STUDIOHEAD = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_PRODUCER = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_DIRECTOR = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_WRITER = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_FIREBASE_CONFIG = {"apiKey":"PUTAPIKEYHERE","authDomain":"PROJECTNAME.firebaseapp.com","projectId":"PROJECTNAME","storageBucket":"PROJECTNAME.appspot.com","messagingSenderId":"IDHERE","appId":"IDHERE","measurementId":"IDHERE"}